<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robotiq_hand">

   <xacro:include filename="$(find robotiq_s_model_visualization)/cfg/robotiq_hand_macro.urdf.xacro"/>

   <link name="base_link"/>

   <xacro:robotiq_hand prefix="l_" reflect="-1" parent="base_link">
      <origin xyz="0.31 0 0" rpy="0 0 -1.57"/>
   </xacro:robotiq_hand>

  <gazebo>
    <!-- plugin for left RobotiQ hand -->
    <plugin name="left_robotiq_hand_plugin" filename="libRobotiqHandPlugin.so">
      <side>left</side>
      <kp_position>10.0</kp_position>
      <kd_position>0.5</kd_position>
    </plugin>
  </gazebo>
</robot>
