<?xml version="1.0"?>

<model>
  <name>Product</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Eduardo Ciciliato</name>
    <email>eduardo.ciciliato@gmail.com</email>
  </author>

  <description>
    RobAFIS roboti competition product
  </description>
</model>
